.tweet-form,.loading{
    margin: 0 auto;
    width: 50%;
}

.loading{
    text-align: center;
}

.title {
    background-color: #000;
    margin: 46px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
.title h3 {
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    text-align: center;
  }

.tweets{
  width: 80%;
  margin: 0 auto;
  color: grey;
}